.content_info_tickets{
    display: flex;
    width: 100%;

}
.content_info_tickets .content_amount{

    padding: 10px;
    text-align: center;
    border: 1px solid gray;
    width: 40%;
    background-color: white;
}
.content_info_tickets .content_amount b{
    font-size: 30px;
}
@media(max-width: 800px){
    .content_info_tickets{
        flex-wrap: wrap;

    }
    .content_info_tickets .content_amount{
        width: 100%;
    }
}
.content_search{
    width: 100%;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

}
.content_search input[type='text']{
width: 100%;
padding: 5px;
margin-bottom: 10px;
}
.content_search button{
    width: max-content;

}
.content_search select{
    border: 0;
    border: 1px gray solid;
    padding: 7px;
    margin-right: 10px;
}

@media (max-width:700px) {
    .content_search input[type='text']{
        width: 100%;

        }
        .content_search button{
            width: 100%;
            margin-top: 10px;

        }
        .content_search select{
            width: 100%;
        }
}
