.content_info_tickets{
    display: flex;
    width: 100%;

}
.content_info_tickets .content_amount{

    padding: 10px;
    text-align: center;
    border: 1px solid gray;
    width: 40%;
    background-color: white;
}
.content_info_tickets .content_amount b{
    font-size: 30px;
}
@media(max-width: 800px){
    .content_info_tickets{
        flex-wrap: wrap;

    }
    .content_info_tickets .content_amount{
        width: 100%;
    }
}
.content_search{
    width: 100%;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

}
.content_search input[type='text']{
width: 100%;
padding: 5px;
margin-bottom: 10px;
}
.content_search button{
    width: max-content;

}
.content_search select{
    border: 0;
    border: 1px gray solid;
    padding: 7px;
    margin-right: 10px;
}

@media (max-width:700px) {
    .content_search input[type='text']{
        width: 100%;

        }
        .content_search button{
            width: 100%;
            margin-top: 10px;

        }
        .content_search select{
            width: 100%;
        }
}

#tickets{
    background-color: antiquewhite;

    background-color: yellow;

}
.animation_ticket_create{
    animation: animation_tickets 3s ;
    animation: titilar_ticket_create infinite 1s;
}

.animation_ticket_modificate{
    animation: animation_tickets 3s ;
    animation: titilar_ticket_modificate infinite 1s;
}

.animation_ticket_finish{
    animation: animation_tickets 3s ;
    animation: titilar_ticket_finish infinite 4s;
}
.animation_ticket_delete{
    animation: animation_tickets 3s ;
    animation: titilar_ticket_delete infinite 1s;
}

@keyframes animation_tickets{

    0%{
        opacity: 0;
        transform: translateY(-100%);
    }
    100%{
        opacity: 1;
        transform: translateY(-0%);

    }
}

@keyframes titilar_ticket_create{

    0%{
        background-color: white;
    }
    50%{
        background-color: yellow;

    }
    100%{
        background-color: orange;

    }
}

@keyframes titilar_ticket_modificate{

    0%{
        background-color: white;
    }
    50%{
        background-color: yellow;

    }
    100%{
        background-color: green;

    }
}

@keyframes titilar_ticket_finish{

    0%{
        background-color: white;
    }
    100%{
        background-color: green;

    }
}

@keyframes titilar_ticket_delete{

    0%{
        background-color: white;
    }
    100%{
        background-color: rgb(255, 0, 0);

    }
}
