#form {
    width: 250px;
    margin: 0 auto;
    height: 50px;
  }

  #form p {
    text-align: center;
  }

  #form label {
    font-size: 20px;

  }

  #form_starts input[type="radio"] {
    display: none;
  }

  #form_starts label {
    color: grey;
    font-size: 18px;
  }

  .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
  }

  #form_starts label:hover,
  #form_starts label:hover ~  label {
    color: orange;
  }

  #form_starts input[type="radio"]:checked ~  label {
    color: orange;
  }

  .coments{
    max-height: 300px;
    overflow-y: auto;
    width: 100%;

  }
  .coments .comment{
    display: flex; flex-direction: column; width: 100%; background-color: white;
    margin-bottom: 3px;
    padding: 20px;
    animation: animation_comment 2s ;
    transition: all 2s;
  }

  @keyframes animation_comment{

    0%{
        opacity: 0;
        transform: translateY(-100%);
    }
    75%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
        transform: translateY(-0%);
    }
  }

  #content_starts i{
    color: orange;
    font-size: 20px;
  }

  .content_comments {
    margin-top: 10px;
    border: 0.1px solid gray;
    box-shadow: 0px 0px 5px;
    width: 100%;
    margin-bottom: 30px;

  }
.content_comments .header_comments{
    padding: 10px;
    background-color: rgb(205, 202, 202);
}
.content_comments .header_comments input[type="text"]{

    border: 0;
    padding: 5px;
    margin-bottom: 20px;
}
.form_starts textarea{
    width: 100%;
}

.content_buttons a, .content_buttons button{
    width: 100%;
    margin: 2px;
}
.content_buttons {
width: 100%;
margin-bottom: 40px;

}

.content_comment_fooder{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(205, 202, 202);


}
.content_comment_fooder .comment_fooder{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.content_comment_fooder .comment_fooder b{

    font-size: 20px;
    width: 50%;
    padding: 10px;

}

@media(max-width : 600px){

    .content_comment_fooder .comment_fooder b{
        width: 100%;
        font-size: 20px;
    }
    .content_comment_fooder .comment_fooder{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}
.content_comment_fooder .comment_fooder #validate_writting{

    text-align: end;
}

.comment_state_offline{

color: red;
}
.comment_state_online{

   color: green;
}


.content_img{
    width: 100%;
    height: 400px;
    text-align: center;

}
.content_img img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}
