.content_search{


    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.content_search input{



    padding: 10px;
    border: 0;
    border-radius: 10px;
    margin-right: 30px;
    width: 400px;


}
#btn_create_user{
    width: 100%;
}

@media (max-width: 500px){
    .content_search input{

        width: 100%;
        margin-bottom: 20px;
    }
    .content_search button{

        width: 100%;
    }
    #btn_create_user{
        width: 100%;
    }
}
