td,tr{
    text-align: center;
}
th{
    background-color: black;
}

.content_header_certificate{
    display: flex;
    flex-wrap: wrap;
}
.content_header_certificate .content_left_certificate,.content_header_certificate .content_right_certificate{

    width: 50%;
    padding: 10px;
}
@media (max-width:800px){
    .content_header_certificate .content_left_certificate,.content_header_certificate .content_right_certificate{
        width: 100%;
    }

}


.content_images{
    display: flex;
    flex-wrap: wrap;
}
.content_images .content_left_images{
    width: 50%;
    }
    .content_images .content_right_images{
        width: 50%;
    }
@media (max-width:800px){
.content_images .content_left_images{
width: 100%;
}
.content_images .content_right_images{
    width: 100%;
}
}
